body {
  background-image: url("bowser-background.png");
  /* background-size: cover; This will ensure that the image covers the whole body */
  /* background-repeat: no-repeat; This prevents the image from repeating */
  /* background-attachment: fixed; This keeps the image fixed in the background */
  object-fit: cover;
  background-size: 300px auto;
}

.container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin-top: 7rem;
}

.music-thumbnail {
  width: 100%; /* Full width of the container */
  max-width: 300px; /* Maximum width, can be adjusted */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Cover the container, cropping if necessary */
  border-radius: 10%; /* Slightly rounded corners for a modern look */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  margin-bottom: 1rem;
}

/* Media query for mobile screens */
@media screen and (max-width: 600px) {
  .music-thumbnail {
    max-width: 100%; /* Full width on smaller screens */
    border-radius: 5%; /* Smaller border-radius for smaller screens */
  }
}
